{% extends "_layouts/cp" %}

{% set title = "Zoho ZeptoMail Settings"|t('zoho-zepto-mail') %}


{% block content %}
<script type="text/javascript">
	function addZeptoSuccessMessage(message) {
		document.getElementById("zepto_messages").style.display = 'block';
		document.getElementById("zept_msg_class").className  ="zepto_messages_success";
		document.getElementById("zepto-msgText").innerHTML = message;
		setTimeout(function() {document.getElementById("zepto_messages").style.display = 'none' }, 5000);
		window.scrollTo(0,0)
    }
	function addZeptoErrorMessage(message) {
		document.getElementById("zepto_messages").style.display = 'block';
		document.getElementById("zept_msg_class").className  ="zepto_messages_error";
		document.getElementById("zepto-msgText").innerHTML = message;
		setTimeout(function() {document.getElementById("zepto_messages").style.display = 'none' }, 5000);
		window.scrollTo(0,0)
    }
</script>
<div class="zepto_page">
		
		<div class="zepto_page__content">
		<div id="zepto_messages" class="zepto_messages" style="display:none;"><div class="page"><div class="message message-error error" id="zept_msg_class"><div id="zepto-msgText"></div></div></div></div>
		<form  method="post" >
         {{ csrfInput() }}
            {{ actionInput('zeptomail/saveauthtoken') }}
			<div class="zepto_logo" style="width:160px;padding-bottom:16px;"></div>
			
            <div class="zepto_page__header">
                
                <p>Visit  <a class="zm_a" href="https://zeptomail.zoho.com/#dashboard/setupDetail" target="_blank">here</a> to generate your Send Mail token.</p>
            </div>
			
				
            <div class="zepto_form">
				<div class="zepto_form__row">
                    <label class="zepto_form--label">Where is your account hosted?</label>
                    <select class="zepto_form--input zepto_form--input--select" name="zepto_domain" {%if is_configured %} disabled {%endif%}>
                        <option value="zoho.com" {% if domain == 'zoho.com' %} selected="selected" {% endif %}>zeptomail.zoho.com</option>
                        <option value="zoho.eu" {% if domain == 'zoho.eu' %} selected="selected" {% endif %}>zeptomail.zoho.eu</option>
                        <option value="zoho.in" {% if domain == 'zoho.in' %} selected="selected" {% endif %}>zeptomail.zoho.in</option>
                        <option value="zoho.com.cn" {% if domain == 'zoho.com.cn' %} selected="selected" {% endif %}>zeptomail.zoho.com.cn</option>
                        <option value="zoho.com.au" {% if domain == 'zoho.com.au' %} selected="selected" {% endif %}>zeptomail.zoho.com.au</option>
						<option value="zoho.jp" {% if domain == 'zoho.jp' %} selected="selected" {% endif %}>zeptomail.zoho.jp</option>
						<option value="zohocloud.ca" {% if domain == 'zohocloud.ca' %} selected="selected" {% endif %}>zeptomail.zohocloud.ca</option>
						<option value="zoho.sa" {% if domain == 'zoho.sa' %} selected="selected" {% endif %}>zeptomail.zoho.sa</option>
                    </select> <br><i class="form__row-info"> The region where your ZeptoMail account is hosted. This is the URL displayed on login to your account.</i> </div>
				</div>
				<div class="zepto_form__row">
                    <label class="zepto_form--label">Send Mail Token</label>
                    <input type="password"  name="zepto_mail_token" class="zepto_form--input" id="zepto_mail_token" required="" value="{{ apiKey }}"  {%if is_configured %} disabled {%endif%}> 
                    <i class="form__row-info">Send Mail token of the relevant Mail Agent generated in your ZeptoMail account.</i> 
                 </div>
				<div class="zepto_form__row">
                    <label class="zepto_form--label">From Name</label>
                     <input type="text"  class="zepto_form--input" id="zepto_from_name" required="" value="{{ fromName }}"  {%if is_configured %} disabled {%endif%}>
				</div>
				<div class="zepto_form__row">
                    <label class="zepto_form--label">From email address</label>
                     <input type="text" class="zepto_form--input" id="zepto_from_address" required="" value="{{ fromEmail }}"  {%if is_configured %} disabled {%endif%}> 
				</div>
				
				<div >
						<br /><button type="button"  id="zepto_config_btn" class="zepto_btn  {%if is_configured != false %} zm-dispNone {%endif%}">Save 
							</button>
						<button class="zepto_btn" type="button" id="zepto_test_btn" name="test" class="zepto_btn  {%if is_configured %} zm-dispNone {%endif%}">Test  
							</button>
							
				</div>
				<span purpose="zmail_modify_config" class="zmailsetup-step-desc  {% if is_configured == false %} zm-dispNone {% endif %}">
                To modify email configuration,                 
                <input type="button" class="zmailbtn--flat zmailbtn--sm" purpose="reconfigure" value="click here.">
            </span>
			
		
		</form>
	</div>
</div>	


{% endblock %}
